body {
  background-color: #0D1117;
  color: white;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.search-bar {
  width: 600px;
  height: 30px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px
}

.body-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 500px;

}

.left-container {
  width: 400px;
  text-align: center;
}

.characters-list {
  border: 2px solid white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px
}

.characters-list li {
  list-style: none;
  cursor: pointer;
  margin: 4px 0px;
}

.characters-list li:hover {
  transform: scale(1.05);
}

.pages-controllers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
  width: 200px;
  padding: 10px;
  font-weight: bold;
}

button {
  width: 70px;
  height: 25px;
  border-radius: 15px;
  border: none;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.character-container {
    border: 2px solid white;
    width: 400px;
    height: 290px;
    margin-top: -20px;
    padding: 10px 20px;
    border-radius: 15px;
}
